<link rel="stylesheet" href="/css/user_sign_up.css">
<div id="sign_up-body">
  <div id="sign_up-box">
      <h1>Sign up </h1>

      <form action="/user/create" method="POST">
        <input type="text" name="name" placeholder="Your name" required>
        <input type="email" name="email" placeholder="Your email" required>
        <input type="password" name="password" placeholder="Password" required>
        <input type="password" name="confirm_password" placeholder="Confirm Password" required>
        <input type="submit" value="Sign Up">
        

      </form>

      <p>Already a member? <a href="/user/sign-in">Sign In</a></p>
  </div>
</div>
