#footer-foot{
    height: 10vh;
    background-color: rgb(196, 4, 4);
    margin-bottom: 0px;
    display:flex;
    justify-content: space-between;
    position: relative;
    h2{
        font-size: 15px;
        color: black;
    }
    ul{
        display:flex;
       
        margin:10px;
        li{
           text-decoration: none;
           margin-right:25px;
        }
    }
    a{
        cursor:pointer;
        text-decoration: none;
        color: black;
        font-family:Georgia, 'Times New Roman', Times, serif;
        &:hover{
            color: grey;
        }
    }
}